* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.portfolio {
  min-height: 100vh;
  width: 100%;
  display: flex;
}
.navbar {
  display: flex;
  gap: 3.5rem;
  width: 100%;
  height: 15vh;
  justify-content: center;
  align-items: center;
  position: fixed;
}
.navbar li {
  list-style: none;
}
.navbar li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  color: #fff;
}
.start,
.end {
  height: 100vh;
  display: flex;
  align-items: center;
}
.start {
  width: 65%;
  background: #262525;
  padding-left: 3rem;
}
.right-container {
  width: 35%;
  background: linear-gradient(#3877ff, #262525);
}
.icon .fa-brand {
  color: #fff;
  font-size: 1.5rem;
}
.icon .fa-brand:hover {
  background-color: #3877ff;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.content {
  margin-left: 4rem;
}
.content .intro {
  font-size: 1.8rem;
  color: #fff;
  padding-bottom: 1.5rem;
}
.content .intro span {
  color: #5db9ee;
}
.content h1 {
  font-size: 4rem;
  color: #5db9ee;
}
.content .paragraph {
  font-size: 1.1rem;
  color: #fff;
  max-width: 39rem;
  margin: 1.1rem 0 3rem 0;
  line-height: 2rem;
  padding-right: 1rem;
}
.btn button {
  border: 0.1rem solid #5db9ee;
  font-size: 1.1rem;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
}
button:nth-child(1) {
  background: #5db9ee;
  margin-right: 2rem;
}
button:nth-child(2) {
  background: transparent;
  color: #5db9ee;
}
button:nth-child(1):hover {
  background: transparent;
  color: #5db9ee;
}
button:nth-child(2):hover {
  background: #5db9ee;
  color: #fff;
}
.design .circle {
  aspect-ratio: 1;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
}
.circle:nth-child(1) {
  width: 38rem;
  background: linear-gradient(
    90deg,
    #fff,
    #3877ff,
    pink,
    green,
    yellow,
    red,
    black,
    white,
    #00ffff
  );
}
.circle:nth-child(2) {
  width: 34rem;
  background-image: url("/portfolio/pic.jpg");
  background-size: 100%;
}
.navbar li a:hover {
  background-color: #3877ff;
}
.end {
  font-size: 2rem;
  color: #fff;
  justify-content: center;
  height: 3rem;
  background: linear-gradient(#3877ff, rgb(27, 27, 27));
}
.contact {
  padding-left: 3rem;
}

